#main-content {
  .paris-photo {
    display: flex;
    .black-block {
      height: 22vh;
      width: 20rem;
      background-color: $dark-color;
    }
    .black-block-second {
      height: 22vh;
      width: 96rem;
      background-color: $dark-color;
      .photo-icons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 22vh;
        .fa-square-facebook {
          color: blue;
        }
        .fa-twitter {
          color: blue;
        }
        .fa-instagram {
          color: red;
        }
        i {
          margin-right: 4rem;
          margin-bottom: 1rem;
          font-size: 2rem;
        }
      }
    }
    img {
      width: 46rem;
    }
  }
  
}
