#main-content {
  .paris-photo {
    display: flex;
    .black-block {
      height: 22vh;
      width: 20rem;
      background-color: $dark-color;
    }
    .black-block-second {
      height: 22vh;
      width: 96rem;
      background-color: $dark-color;
      .photo-icons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 22vh;
        .fa-square-facebook {
          color: blue;
        }
        .fa-twitter {
          color: blue;
        }
        .fa-instagram {
          color: red;
        }
        i {
          margin-right: 4rem;
          margin-bottom: 1rem;
          font-size: 2rem;
        }
      }
    }
    img {
      width: 24vw;
    }
  }
  .paris-subscribe {
    height: 17vh;
    width: 159rem;
    position: relative;
    .subscribe {
      position: relative;
      height: 15vh;

      .profil {
        position: absolute;
        top: 2rem;
        left: 13rem;
        display: flex;
        img {
          width: 10rem;
          border-radius: 50%;
        }
        .profil-text {
          margin: 2rem;
          h3 {
            font-size: 3rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
      button {
        position: absolute;
        top: 6rem;
        left: 136rem;
        color: $light-color;
        background-color: $youtube-color;
        font-size: 1.7rem;
        padding: 1rem;
        font-weight: bold;
        width: 13rem;
      }
    }
    .lists {
      position: absolute;
      left: 15rem;
      ul {
        display: flex;
        justify-content: center;

        li {
          margin-right: 11rem;
          color: $light-color;
          font-size: 1.5rem;
        }
      }
    }
  }
  .grid {
    // background-color: goldenrod;
    height: 47vh;
    width: 160rem;
    position: relative;
    .uploads {
      position: absolute;
      font-size: 1.5rem;
      left: 6rem;
      top: 2rem;
    }
    .cards {
      position: absolute;
      top: -2rem;
      padding: 6rem;
      display: flex;
      flex-wrap: wrap;
      gap: .3rem;
      .card {
        height: 21rem;
        width: 20rem;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        img {
          width: 20rem;
        }
        .time {
          border-radius: 20%;
          padding: 0.2rem;
          font-size: 1.2rem;
          font-weight: bold;
          position: absolute;
          top: 11rem;
          left: 17rem;
          background-color: $dark-color;
        }
      }
    }
  }
}
