$extreme-dark-color:rgb(24, 24, 24);
$dark-color: #212121;
$medium-color: rgb(47, 45, 45);
$dark-theme-there:rgb(43, 43, 43);
$dark-theme-forth:rgb(38, 37, 37);
$dark-theme-fifth:#bcbcbc;
$light-color: #f4f4f4;
$gray-color: #ccc;
$youtube-color:red;
$social-media-color:rgb(68, 68, 238);
